* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background:white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    height: 30rem;
    width: 30rem;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    left: 5%;
}

.circle2{
    bottom: 5%;
    right: 5%;
}